{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Check e-mail or openid' %}{% endblock title %}

{% block content %}

<h1>{% trans 'Check domain' %}</h1>

<div style="max-width:640px">
<form method="post" name="check">
{% csrf_token %}
<div class="form-group"><label for="id_mail">{% trans 'Domain' %}</label>
<input type="domain" name="domain" maxlength="254" minlength="6" class="form-control" placeholder="{% trans 'Domain' %}" {% if form.domain.value %} value="{{ form.domain.value }}" {% endif %} id="id_domain"></div>
  <div class="form-group">
      <button type="submit" class="btn btn-default">{% trans 'Check' %}</button>
</div>
</form>
</div>

{% if result %}
  <hr/>
  <h2>Domain check - TODO TODO</h2>
  <p/>
{% endif %}
<div style="height:40px"></div>
{% endblock content %}
