[run]
plugins =
    django_coverage_plugin
omit =
    node_modules/*
    .virtualenv/*
    import_libravatar.py
    requirements.txt
    static/admin/*
    **/static/humans.txt
    **/static/img/robots.txt
    ivatar/ivataraccount/read_libravatar_export.py
    templates/maintenance.html
    encryption_test.py
    libravatarproxy.py


[html]
extra_css = coverage_extra_style.css
