autopep8
bcrypt
defusedxml
Django
django-anymail[mailgun]
django-auth-ldap
django-bootstrap4
django-coverage-plugin
django-extensions
django-ipware
django-user-accounts
email-validator
fabric
flake8-respect-noqa
git+https://github.com/ercpe/pydenticon5.git
git+https://github.com/flavono123/identicon.git
git+https://github.com/ofalk/django-openid-auth
git+https://github.com/ofalk/monsterid.git
git+https://github.com/ofalk/Robohash.git@devel
mysqlclient
notsetuptools
pagan
Pillow
pip
psycopg2-binary
py3dns
pydocstyle
pyLibravatar
pylint
PyMySQL
python-coveralls
python-language-server
python-memcached
python3-openid
pytz
rope
setuptools
six
social-auth-app-django
wheel
yapf
