{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with email.email as email_address %}Choose a photo for {{ email_address }}{% endblocktrans %}{% endblock title %}

{% block content %}
<style>
.nobutton {
background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
}
</style>
<h1>{% blocktrans with email.email as email_address %}Choose a photo for {{ email_address }}{% endblocktrans %}</h1>

{% if user.photo_set.count %}
  <p>{% trans 'Here are the pictures you have uploaded, click on the one you wish to associate with this email address:' %}</p>
  <div class="row">
    {% for photo in user.photo_set.all %}
      <form action="{% url 'assign_photo_email' view.kwargs.email_id %}" method="post" style="float:left;margin-left:20px">{% csrf_token %}
        <input type="hidden" name="photo_id" value="{{ photo.id }}">
        <button type="submit" name="photo{{ photo.id }}" class="nobutton">
          <div class="panel panel-tortin" style="width:132px;margin:0">
            <div class="panel-heading">
              <h3 class="panel-title">{% if email.photo.id == photo.id %}<i class="fa fa-check"></i>{% endif %} {% trans 'Image' %} {{ forloop.counter }}</h3>
            </div>
            <div class="panel-body" style="height:130px">
              <center>
                <img style="max-height:100px;max-width:100px" src="{% url 'raw_image' photo.id %}">
              </center>
            </div>
          </div>
        </button>
      </form>
    {% endfor %}
{% endif %}

<div class="row">
  <form action="{% url 'assign_photo_email' view.kwargs.email_id %}" method="post" style="float:left;margin-left:20px">{% csrf_token %}
    <button type="submit" name="photoNone" class="nobutton">
      <div class="panel panel-tortin" style="width:132px;margin:0">
        <div class="panel-heading">
          <h3 class="panel-title">{% if email.photo.id == photo.id %}{% if not email.bluesky_handle %}<i class="fa fa-check"></i>{% endif %}{% endif %} {% trans 'No image' %}</h3>
        </div>
        <div class="panel-body" style="height:130px">
              <center>
                  <img style="max-height:100px;max-width:100px" src="/static/img/nobody/100.png">
              </center>
        </div>
      </div>
    </button>
  </form>
  {% if email.bluesky_handle %}
  <form action="" style="float:left;margin-left:20px">
    <div class="panel panel-tortin" style="width:132px;margin:0">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-check"></i> {% trans "Bluesky" %}</h3>
      </div>
      <div class="panel-body" style="height:130px">
            <center>
                <img style="max-height:100px;max-width:100px" src="{% url "blueskyproxy" email.digest %}?size=100">
            </center>
      </div>
    </div>
  </form>
  {% endif %}
</div>

<div class="row">
  <div style="height:8px"></div>
    <a href="{% url 'upload_photo' %}" class="button">{% blocktrans %}Upload a new one{% endblocktrans %}</a>&nbsp;&nbsp;
    <a href="{% url 'import_photo' %}" class="button">{% blocktrans %}Import from other services{% endblocktrans %}</a>
  </div>

  <div style="height:8px"></div>
    <form action="{% url 'assign_bluesky_handle_to_email' view.kwargs.email_id %}" method="post" style="float:left;margin-left:20px">{% csrf_token %}
      <div class="form-group">
        <label for="id_bluesky_handle">{% trans "Bluesky handle" %}:</label>
        {% if email.bluesky_handle %}
          <input type="text" name="bluesky_handle" required value="{{ email.bluesky_handle }}" class="form-control" id="id_bluesky_handle">
        {% else %}
          <input type="text" name="bluesky_handle" required value="" placeholder="{% trans 'Bluesky handle' %}" class="form-control" id="id_bluesky_handle">
        {% endif %}
      </div>
      <button type="submit" class="button">{% trans 'Assign Bluesky handle' %}</button>
    </form>
  </div>
</div>

<div style="height:40px"></div>
{% endblock content %}
