{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{% trans 'Avatar Creator' %}{% endblock title %}

{% block content %}

<style>
  .achoose {
    float:left;
    margin-right:2px;
    width:20px;
    height:20px;
  }
</style>

<script>
  var skin_color = 0;
  var hair_color = 0;
  var facial_hair_type = 0;
  var facial_hair_color = 0;
  var top_type = -1;
  var hat_color = 0;
  var mouth_type = 0;
  var eyes_type = 0;
  var eyebrow_type = 0;
  var nose_type = 0;
  var accessories_type = 0;
  var clothe_type = 0;
  var clothe_color = 0;
  var clothe_graphic_type = 0;
  var avatar_style = 0;
  var size = 172;

  function update_image() {
    var url = "{% url 'avataaar' %}?avatar_style=" + avatar_style + "&skin_color=" + skin_color + "&hair_color=" + hair_color +
      "&facial_hair_type=" + facial_hair_type + "&facial_hair_color=" + facial_hair_color +
      "&top_type=" + top_type + "&hat_color=" + hat_color + "&mouth_type=" + mouth_type +
      "&eyes_type=" + eyes_type + "&eyebrow_type=" + eyebrow_type + "&nose_type=" + nose_type +
      "&accessories_type=" + accessories_type + "&clothe_type=" + clothe_type +
      "&clothe_color=" + clothe_color + "&clothe_graphic_type=" + clothe_graphic_type;
    $("#avatar_image").attr('src', url);
    $("#avatar_image").attr('width', size + "px");
  }
</script>

<h3>{% trans 'Adjust your avatar:' %}</h3>
<div>
  <div>
    <div id="avatar_image_div">
      <img id="avatar_image" width="172px" style="float:left;">
      <script>
        update_image();
      </script>
    </div>
    <div id="options">
      <div class="form-group" role="group" style="float:right;width:50%">
        <label for="preview_size" class="form-label">{% trans 'Preview size'%}</label>
        <input type="range" class="form-range" id="preview_size" min="16" max="500" step="1" value="172">
        <script>
          var preview_size = document.getElementById("preview_size");
          preview_size.addEventListener("input", function() {
            size = this.value;
            update_image();
          });
        </script>
      </div>
      <div class="form-group" role="group" style="float:right;width:50%">
        <button type="button" class="btn btn-info" onclick='url=$("#avatar_image").attr("src")+"&format=svg";window.open(url);'>Download SVG</button>
        &nbsp;
        <button type="button" class="btn btn-info" onclick='url=$("#avatar_image").attr("src")+"&format=png";window.open(url);'>Download PNG</button>
      </div>

    </div>
    <hr style="clear:both;"/>

    <div class="form-group" role="group" style="float:none;">
      <label for="skincolor" class="form-label">{% trans 'Skin color'%}</label>
      <div id="skincolor">
      {% for color in SkinColor %}
        <a class="button achoose" style="background:{{ color.main_value }};" onclick='skin_color="{{ color.value }}"; update_image();'>&nbsp;</a>
      {% endfor %}
      </div>
    </div>
    <br/>

    <div class="form-group" role="group" style="float:none;">
      <label for="haircolor" class="form-label">{% trans 'Hair color'%}</label>
      <div id="haircolor">
        {% for color in HairColor %}
          <a class="button achoose" style="background:{{ color.main_value }};" onclick='hair_color="{{ color.value }}"; update_image();'>&nbsp;</a>
        {% endfor %}
      </div>
    </div>
    <br/>

    <div class="form-group" role="group" style="float:none;">
      <label for="facialhairtype" class="form-label">{% trans 'Facial hair type' %}</label>
      <input type="range" class="form-range" id="facialhairtype" min="0" max="5" step="1" value="0">
      <script>
        var elem = document.getElementById("facialhairtype");
        facialhairtype.addEventListener("input", function() {
          facial_hair_type = this.value;
          var thediv = document.getElementById("facialhaircolor").parentNode;
          if(this.value != 0) {
            thediv.display = "block";
            thediv.removeAttribute("hidden");
          } else {
            thediv.setAttribute("hidden", "hidden");
          }
          update_image();
        });
      </script>
    </div>

    <div hidden="hidden" class="form-group" style="float:none;">
      <label for="facialhaircolor" class="form-label">{% trans 'Facial hair color'%}</label>
      <div id="facialhaircolor">
        {% for color in HairColor %}
          <a class="button achoose" style="background:{{ color.main_value }};" onclick='facial_hair_color="{{ color.value }}"; update_image();'>&nbsp;</a>
        {% endfor %}
      </div>
    </div>
    <br/>

    <div class="form-group" role="group" style="float:none;">
      <label for="toptype" class="form-label">{% trans 'Top type' %}</label>
      <input type="range" class="form-range" id="toptype" min="0" max="34" step="1" value="0">
      <script>
        var elem = document.getElementById("toptype");
        elem.addEventListener("input", function() {
          top_type = this.value;
          update_image();
        });
      </script>
    </div>

    <div class="form-group" role="group" style="float:none;">
      <label for="hatcolor" class="form-label">{% trans 'Hat color'%}</label>
      <div id="hatcolor">
        {% for color in HatColor %}
        <a class="button achoose" style="background:{{ color.main_value }};" onclick='hat_color="{{ color.value }}"; update_image();'>&nbsp;</a>
        {% endfor %}
      </div>
    </div>
    <br/>

    <div class="form-group" role="group" style="float:none;">
      <label for="mouthtype" class="form-label">{% trans 'Mouth type' %}</label>
      <input type="range" class="form-range" id="mouthtype" min="0" max="11" step="1" value="0">
      <script>
        var elem = document.getElementById("mouthtype");
        elem.addEventListener("input", function() {
          mouth_type = this.value;
          update_image();
        });
      </script>
    </div>

    <div class="form-group" role="group" style="float:none;">
      <label for="eyestype" class="form-label">{% trans 'Eyes type' %}</label>
      <input type="range" class="form-range" id="eyestype" min="0" max="11" step="1" value="0">
      <script>
        var elem = document.getElementById("eyestype");
        elem.addEventListener("input", function() {
          eyes_type = this.value;
          update_image();
        });
      </script>
    </div>

    <div class="form-group" role="group" style="float:none;">
      <label for="eyebrowtype" class="form-label">{% trans 'Eyerbrow type' %}</label>
      <input type="range" class="form-range" id="eyebrowtype" min="0" max="12" step="1" value="0">
      <script>
        var elem = document.getElementById("eyebrowtype");
        elem.addEventListener("input", function() {
          eyebrow_type = this.value;
          update_image();
        });
      </script>
    </div>

    <div class="form-group" role="group" style="float:none;">
      <label for="accessoriestype" class="form-label">{% trans 'Accessories type' %}</label>
      <input type="range" class="form-range" id="accessoriestype" min="0" max="6" step="1" value="0">
      <script>
        var elem = document.getElementById("accessoriestype");
        elem.addEventListener("input", function() {
          accessories_type = this.value;
          update_image();
        });
      </script>
    </div>

    <div class="form-group" role="group" style="float:none;">
      <label for="clothetype" class="form-label">{% trans 'Clothe type' %}</label>
      <input type="range" class="form-range" id="clothetype" min="0" max="8" step="1" value="0">
      <script>
        var elem = document.getElementById("clothetype");
        elem.addEventListener("input", function() {
          clothe_type = this.value;
          var thediv = document.getElementById("clothegraphictype").parentNode;
          if(this.value == 3) {
            thediv.display = "block";
            thediv.removeAttribute("hidden");
          } else {
            thediv.setAttribute("hidden", "hidden");
          }
          update_image();
        });
      </script>
    </div>

    <div class="form-group" role="group" style="float:none;">
      <label for="clothegraphictype" class="form-label">{% trans 'Clothe color' %}</label>
      <div id"=clothegraphictype">
        {% for color in ClotheColor %}
          <a class="button achoose" style="background:{{ color.main_value }};" onclick='clothe_color="{{ color.value }}"; update_image();'>&nbsp;</a>
        {% endfor %}
      </div>
    </div>
    <br/>

    <div hidden="hidden" class="form-group" role="group" style="float:none;">
      <label for="clothegraphictype" class="form-label">{% trans 'Clothe graphic type' %}</label>
      <input type="range" class="form-range" id="clothegraphictype" min="0" max="10" step="1" value="0">
      <script>
        var elem = document.getElementById("clothegraphictype");
        elem.addEventListener("input", function() {
          clothe_graphic_type = this.value;
          update_image();
        });
      </script>
    </div>

  </div>
</div>
<div style="height:40px"></div>
{% endblock content %}
