{% extends 'base.html' %}                                                                                                                      
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Your Preferences' %}{% endblock title %}

{% block content %}
<h1>{% trans 'Account settings' %}</h1>

<h2>{% trans 'Theme' %}</h2>
<p>
  <form method="post" action="{% url 'user_preference' %}">{% csrf_token %}
    <div class="form-group">
      {% for theme in THEMES %}
        <div class="radio">
          <input type="radio" name="theme" value="{{ theme.0 }}"
            id="theme-{{ theme.0 }}"
            {% if user.userpreference.theme == theme.0 %}checked{% endif %}
            {% if THEMES|first == theme %}{% if not user.userpreference.theme %}checked{% endif %}{% endif %}
          >
          <label for="theme-{{ theme.0 }}">{{ theme.1 }}</label>
        </div>
      {% endfor %}
      <br/>
      <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
    </div>
  </form>
</p>

<!-- TODO: Language stuff not yet fully implemented; Esp. translations are only half-way there

<h2>{% trans 'Language' %}</h2>
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <div class="form-group">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
			<div class="radio">
			<input type="radio" name="language" value="{{ language.code }}" id="language-{{ language.code }}" {% if language.code == LANGUAGE_CODE %}checked{% endif %}>
			<label for="language-{{ language.code }}">{{ language.name_local }}</label>
			</div>
        {% endfor %}
      </div>
    <br/>
    <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
</form>

-->

{% if perms.ivataraccount.can_us_api %}
  <h2>{% trans 'API Key' %}</h2>
  {% if user.apikey %}
  <div id="copiedToClipboard" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans 'Copied' %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans 'Key has been copied to the clipboard' %}</p>
        </div>
      </div>

    </div>
  </div>
  <script>
    function copyToClipboard(fieldId) {
      var copyText = document.getElementById(fieldId);
      copyText.select();
      document.execCommand("copy");
      $("#copiedToClipboard").modal("show");
      setTimeout(function() {$('#copiedToClipboard').modal('hide');}, 2000);
    }
  </script>
  <div class="form-group"><label for="public_key">{% trans 'Public key' %}</label>
  <input type="text" name="public_key" id="public_key" value="{{ user.apikey.public_key }}" style="width:400px;" class="form-control" readonly onclick="copyToClipboard('public_key')">
  </div>
  <div class="form-group"><label for="secret_key">{% trans 'Secret key' %}</label>
  <input type="text" name="secret_key" id="secret_key" value="{{ user.apikey.secret_key }}" style="width:400px;" class="form-control" readonly onclick="copyToClipboard('secret_key')">
  {% else %}
    <form action="{% url 'generate_api_key' %}" method="post">{% csrf_token %}
      <button type="submit" class="btn btn-default">{% trans 'Generate API key' %}</button>
  </form>
  {% endif %}
{% endif %}

<div style="height:40px"></div>

<!-- <p><a href="{% url 'export' %}" class="btn btn-default">{% trans 'Export your data' %}</a></p> -->

<p><a href="{% url 'delete' %}" class="btn btn-default">{% trans 'Permanently delete your account' %}</a></p>
<div style="height:40px"></div>
{% endblock content %}
