<div id="surly-badge" class="surly__id_99419222 surly-badge_white-blue" style="margin:auto;">
	<div class="surly-badge__header">
		<h3 class="surly-badge__header-title">External links</h3>
		<p class="surly-badge__header-text">HERO</p>
	</div>
	<div class="surly-badge__tag">
		<a class="surly-badge__tag-text" href="https://sur.ly/i/libravatar.org/">
			libravatar.org
		</a>
	</div>
	<div class="surly-badge__footer">
		<h3 class="surly-badge__footer-title">Healthy & safe</h3>
		<p class="surly-badge__footer-text">Checked by
			<a href="https://sur.ly" class="surly-badge__footer-link">Sur.ly</a>
		</p>
	</div>
	<div class="surly-badge__date">2022</div>
</div>
